<div>
  <p>
    <!--<button class="1" (click)="All_sub_sort()"> All_sub_{{Show}}</button>-->
    <button class="2" (click)="only_male()">{{toggleShow()}}</button>
  </p>
</div>

<div>
  <table>
    <thead>
      <tr>
        <td>班级 </td>
        <td>学生 </td>
        <td>性别 </td>
        <td>科目</td>
        <td>分数</td>
      </tr>
      <tr *ngFor="let s of students">
        <td *ngIf="s.gender ==Showmale||this.Showmale == 2">{{s.classes}} </td>
        <td *ngIf="s.gender ==Showmale||this.Showmale == 2">{{s.name}}</td>
        <td *ngIf="s.gender ==Showmale||this.Showmale == 2">{{s.gender==1?'男':'女'}}</td>
        <td *ngIf="s.gender ==Showmale||this.Showmale == 2">{{s.subject}}</td>
        <td [ngStyle]="countStyle(s.Fraction.count)" *ngIf="s.gender ==Showmale||this.Showmale == 2">
          {{s.Fraction.count}}
        </td>
      </tr>

    </thead>
  </table>
</div>