<body>
    <div class="contain">
        <div class="card" *ngFor="let item of PList let i=index">
            <img class="card-img-top" (click)="goPoductInfo(item)  "
                src="https://static.runoob.com/images/mix/img_avatar.png" alt="Card image" style="width:100%">
            <div class="card-body">
                <h6 class="card-title detailButton">{{item.name}}</h6>
                <p class="card-text detail">进货时间：2020-02-08</p>
                <div class="footer">
                    <div class="number" (click)="reduce(item)">-</div>
                    <input [(ngModel)]="item.number">/{{item.Level}}
                    <div class="number" (click)="Increase(item)">+</div>
                </div>
            </div>
        </div>


    </div>
</body>